<section class="page-content container-fluid">
  <%= render 'dashboard/stats/card' %>
  <%= render 'dashboard/stats/chart' %>
  <%= render 'dashboard/stats/graph' %>
  <%= render 'dashboard/stats/table' %>
</section>
