<header class="page-header">
						<div class="d-flex align-items-center">
							<div class="mr-auto">
								<h1>Dashboard</h1>
							</div>
							<ul class="actions top-right">
								<li class="dropdown">
									<a href="javascript:void(0)" class="btn btn-fab" data-toggle="dropdown" aria-expanded="false">
										<i class="la la-ellipsis-h"></i>
									</a>
									<div class="dropdown-menu dropdown-icon-menu dropdown-menu-right">
										<div class="dropdown-header">
											Quick Actions
										</div>
										<a href="#" class="dropdown-item">
											<i class="icon dripicons-clockwise"></i> Refresh
										</a>
										<a href="#" class="dropdown-item">
											<i class="icon dripicons-gear"></i> Manage Widgets
										</a>
										<a href="#" class="dropdown-item">
											<i class="icon dripicons-cloud-download"></i> Export
										</a>
										<a href="#" class="dropdown-item">
											<i class="icon dripicons-help"></i> Support
										</a>
									</div>
								</li>
							</ul>
						</div>
					</header>
