<div class="row">
							<div class="col-12">
								<div class="card">
									<div class="row m-0 col-border-xl">
										<div class="col-md-12 col-lg-6 col-xl-3">
											<div class="card-body">
												<div class="icon-rounded icon-rounded-primary float-left m-r-20" id="graph-bar-round">
													<i class="icon dripicons-graph-bar" id="graph-bar-icon"></i>
												</div>
												<h5 class="card-title m-b-5 counter" data-count="5627">0</h5>
												<h6 class="text-muted m-t-10">
													Active Sessions
												</h6>
												<div class="progress progress-active-sessions mt-4" style="height:7px;">
													<div class="progress-bar bg-primary" role="progressbar" style="" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
												</div>
												<small class="text-muted float-left m-t-5 mb-3">
													Change
												</small>
												<small class="text-muted float-right m-t-5 mb-3 counter append-percent" data-count="72">
													0
												</small>
											</div>
										</div>
										<div class="col-md-12 col-lg-6 col-xl-3">
											<div class="card-body">
												<div class="icon-rounded icon-rounded-accent float-left m-r-20" id="cart-icon-round">
													<i class="icon dripicons-cart" id="cart-icon"></i>
												</div>
												<h5 class="card-title m-b-5 append-percent counter" data-count="67">0</h5>
												<h6 class="text-muted m-t-10">
													Add to Cart
												</h6>
												<div class="progress progress-add-to-cart mt-4" style="height:7px;">
													<div class="progress-bar bg-accent" role="progressbar" style="" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100"></div>
												</div>
												<small class="text-muted float-left m-t-5 mb-3">
													Change
												</small>
												<small class="text-muted float-right m-t-5 mb-3 counter append-percent" data-count="67">
													0
												</small>
											</div>
										</div>
										<div class="col-md-12 col-lg-6 col-xl-3">
											<div class="card-body">
												<div class="icon-rounded icon-rounded-info float-left m-r-20">
													<i class="icon dripicons-mail"></i>
												</div>
												<h5 class="card-title m-b-5 counter" data-count="337">0</h5>
												<h6 class="text-muted m-t-10">
													Newsletter Sign Ups
												</h6>
												<div class="progress progress-new-account mt-4" style="height:7px;">
													<div class="progress-bar bg-info" role="progressbar" style="" aria-valuenow="83" aria-valuemin="0" aria-valuemax="100"></div>
												</div>
												<small class="text-muted float-left m-t-5 mb-3">
													Change
												</small>
												<small class="text-muted float-right m-t-5 mb-3 counter append-percent" data-count="83">
													0
												</small>
											</div>
										</div>
										<div class="col-md-12 col-lg-6 col-xl-3">
											<div class="card-body">
												<div class="icon-rounded icon-rounded-success float-left m-r-20">
													<i class="la la-dollar f-w-600"></i>
												</div>
												<h5 class="card-title m-b-5 prepend-currency counter" data-count="37873">0</h5>
												<h6 class="text-muted m-t-10">
													Total Revenue
												</h6>
												<div class="progress progress-total-revenue mt-4" style="height:7px;">
													<div class="progress-bar bg-success" role="progressbar" style="" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100"></div>
												</div>
												<small class="text-muted float-left m-t-5 mb-3">
													Change
												</small>
												<small class="text-muted float-right m-t-5 mb-3 counter append-percent" data-count="77">
													0
												</small>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
