<div class="row">
							<div class="col-xl-7 col-xxl-9">
								<div class="card">
									<h5 class="card-header">
										Monthly budget
									</h5>
									<div class="card-body">
										<div id="monthly-budget">
											<div id="monthly-budget-content" style="height: 350px">
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-5 col-xxl-3">
								<div class="card">
									<div class="card-header">Audit Log
										<div class="actions top-right">

											<div class="dropdown">
												<a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													<i class="la la-ellipsis-h"></i>
												</a>

												<div class="dropdown-menu dropdown-menu-right animation">
													<a class="dropdown-item" href="#">Action</a>
													<a class="dropdown-item" href="#">Another action</a>
													<a class="dropdown-item" href="#">Something else here</a>
												</div>
											</div>
										</div>
									</div>
									<div class="card-body">
										<div class="timeline timeline-border">
											<div class="timeline-list">
												<div class="timeline-info">
													<div class="d-inline-block">Server pending</div>
													<small class="float-right text-muted">Now</small>
												</div>
											</div>
											<div class="timeline-list timeline-border timeline-primary">
												<div class="timeline-info">
													<div class="d-inline-block">Delivery complete</div>
													<small class="float-right text-muted">10min.</small>
												</div>
											</div>
											<div class="timeline-list  timeline-border timeline-accent">
												<div class="timeline-info">
													<div class="d-inline-block">Delivery processing</div>
													<small class="float-right text-muted">1hr.</small>
												</div>
											</div>
											<div class="timeline-list  timeline-border timeline-success">
												<div class="timeline-info">
													<div class="d-inline-block">Payment recorded</div>
													<small class="float-right text-muted">11:22am</small>
												</div>
											</div>
											<div class="timeline-list  timeline-border timeline-warning">
												<div class="timeline-info">
													<div class="d-inline-block">Order complete</div>
													<small class="float-right text-muted">9:30AM</small>
												</div>
											</div>
											<div class="timeline-list  timeline-border timeline-info">
												<div class="timeline-info">
													<div class="d-inline-block">Product quantities updated</div>
													<small class="float-right text-muted">9:27am</small>
												</div>
											</div>
											<div class="timeline-list  timeline-border timeline-info">
												<div class="timeline-info">
													<div class="d-inline-block">Ticket #627 Closed</div>
													<small class="float-right text-muted">8:02am</small>
												</div>
											</div>
											<div class="timeline-list  timeline-border timeline-info">
												<div class="timeline-info">
													<div class="d-inline-block">Cache cleared</div>
													<small class="float-right text-muted">6:00am</small>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
