<div class="row">
							<div class="col-12">
								<div class="card-deck m-b-30">
									<div class="card">
										<h5 class="card-header border-none">Users</h5>
										<div class="card-body p-0">
											<h4 class="card-title text-info p-t-10 p-l-15">67,325  <i class="zmdi zmdi-trending-up text-info"></i></h4>
											<div class="h-200">
												<canvas id="usersChart"></canvas>
											</div>
										</div>
									</div>
									<div class="card">
										<h5 class="card-header border-none">Bounce Rate</h5>
										<div class="card-body p-0">
											<h4 class="card-title text-warning p-t-10 p-l-15">3.69% <i class="zmdi zmdi-trending-down text-warning"></i></h4>
											<div class="h-200">
												<canvas id="bounceRateChart"></canvas>
											</div>
										</div>
									</div>
									<div class="card">
										<h5 class="card-header border-none">Session Duration</h5>
										<div class="card-body p-0">
											<h4 class="card-title text-primary p-t-10 p-l-15">13m 36s  <i class="zmdi zmdi-trending-up text-primary"></i></h4>
											<div class="h-200">
												<canvas id="sessionDuration"></canvas>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
