<div class="row">
							<div class="col-lg-12 col-xl-7">
								<div class="card">
									<div class="card-header">Recent Transactions
										<ul class="actions top-right">
											<li><a href="javascript:void(0)" data-q-action="card-expand"><i class="icon dripicons-expand-2"></i></a></li>
										</ul>
									</div>
									<div class="card-body">
										<div class="table-responsive">
											<table id="recent-transaction-table" class="table table-striped table-bordered" style="width:100%">
												<thead>
													<tr>
														<th>TRANSACTION ID</th>
														<th>DATE</th>
														<th>AMOUNT</th>
														<th>STATUS</th>
														<th class="no-sort">RECEIPT</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>440-23423</td>
														<td>06/25/18</td>
														<td>$650</td>
														<td><span class="badge badge-pill badge-warning">Pending</span></td>
														<td>
															<a href="javascript:void(0)"><i class="icon dripicons-download"></i></a>
														</td>
													</tr>
													<tr>
														<td>440-29384</td>
														<td>06/25/18</td>
														<td>$550</td>
														<td><span class="badge badge-pill badge-warning">Pending</span></td>
														<td>
															<a href="javascript:void(0)"><i class="icon dripicons-download"></i></a>
														</td>
													</tr>
													<tr>
														<td>440-23423</td>
														<td>06/25/18</td>
														<td>$550</td>
														<td><span class="badge badge-pill badge-success">Paid</span></td>
														<td>
															<a href="javascript:void(0)"><i class="icon dripicons-download"></i></a>
														</td>
													</tr>
													<tr>
														<td>440-23444</td>
														<td>06/24/18</td>
														<td>$950</td>
														<td><span class="badge badge-pill badge-success">Paid</span></td>
														<td>
															<a href="javascript:void(0)"><i class="icon dripicons-download"></i></a>
														</td>
													</tr>
													<tr>
														<td>440-243453</td>
														<td>06/24/18</td>
														<td>$250</td>
														<td><span class="badge badge-pill badge-warning">Pending</span></td>
														<td>
															<a href="javascript:void(0)"><i class="icon dripicons-download"></i></a>
														</td>
													</tr>
													<tr>
														<td>440-23434</td>
														<td>06/23/18</td>
														<td>$900</td>
														<td><span class="badge badge-pill badge-success">Paid</span></td>
														<td>
															<a href="javascript:void(0)"><i class="icon dripicons-download"></i></a>
														</td>
													</tr>
													<tr>
														<td>440-23423</td>
														<td>06/23/18</td>
														<td>$830</td>
														<td><span class="badge badge-pill badge-success">Paid</span></td>
														<td>
															<a href="javascript:void(0)"><i class="icon dripicons-download"></i></a>
														</td>
													</tr>
													<tr>
														<td>440-6786</td>
														<td>06/21/18</td>
														<td>$230</td>
														<td><span class="badge badge-pill badge-danger">Failed</span></td>
														<td>
															<a href="javascript:void(0)"><i class="icon dripicons-download"></i></a>
														</td>
													</tr>
													<tr>
														<td>440-36354</td>
														<td>06/21/18</td>
														<td>$1,034</td>
														<td><span class="badge badge-pill badge-warning">Pending</span></td>
														<td>
															<a href="javascript:void(0)"><i class="icon dripicons-download"></i></a>
														</td>
													</tr>
													<tr>
														<td>440-34533</td>
														<td>06/21/18</td>
														<td>$5,300</td>
														<td><span class="badge badge-pill badge-success">Paid</span></td>
														<td>
															<a href="javascript:void(0)"><i class="icon dripicons-download"></i></a>
														</td>
													</tr>
													<tr>
														<td>440-678655</td>
														<td>06/19/18</td>
														<td>$627</td>
														<td><span class="badge badge-pill badge-success">Paid</span></td>
														<td>
															<a href="javascript:void(0)"><i class="icon dripicons-download"></i></a>
														</td>
													</tr>
													<tr>
														<td>440-343535</td>
														<td>06/19/18</td>
														<td>$350</td>
														<td><span class="badge badge-pill badge-success">Paid</span></td>
														<td>
															<a href="javascript:void(0)"><i class="icon dripicons-download"></i></a>
														</td>
													</tr>
													<tr>
														<td>440-796777</td>
														<td>06/19/18</td>
														<td>$600</td>
														<td><span class="badge badge-pill badge-danger">Reversed</span></td>
														<td>
															<a href="javascript:void(0)"><i class="icon dripicons-download"></i></a>
														</td>
													</tr>
													<tr>
														<td>440-4534646</td>
														<td>06/17/18</td>
														<td>$900</td>
														<td><span class="badge badge-pill badge-success">Paid</span></td>
														<td>
															<a href="javascript:void(0)"><i class="icon dripicons-download"></i></a>
														</td>
													</tr>
													<tr>
														<td>440-35565</td>
														<td>06/17/18</td>
														<td>$950</td>
														<td><span class="badge badge-pill badge-success">Paid</span></td>
														<td>
															<a href="javascript:void(0)"><i class="icon dripicons-download"></i></a>
														</td>
													</tr>
													<tr>
														<td>440-547345645</td>
														<td>06/16/18</td>
														<td>$800</td>
														<td><span class="badge badge-pill badge-warning">Pending</span></td>
														<td>
															<a href="javascript:void(0)"><i class="icon dripicons-download"></i></a>
														</td>
													</tr>
													<tr>
														<td>440-3464345</td>
														<td>06/16/18</td>
														<td>$650</td>
														<td><span class="badge badge-pill badge-success">Paid</span></td>
														<td>
															<a href="javascript:void(0)"><i class="icon dripicons-download"></i></a>
														</td>
													</tr>
													<tr>
														<td>440-346455</td>
														<td>06/16/18</td>
														<td>$650</td>
														<td><span class="badge badge-pill badge-success">Paid</span></td>
														<td>
															<a href="javascript:void(0)"><i class="icon dripicons-download"></i></a>
														</td>
													</tr>
													<tr>
														<td>440-345677</td>
														<td>06/15/18</td>
														<td>$650</td>
														<td><span class="badge badge-pill badge-success">Paid</span></td>
														<td>
															<a href="javascript:void(0)"><i class="icon dripicons-download"></i></a>
														</td>
													</tr>
													<tr>
														<td>440-3456467</td>
														<td>06/15/18</td>
														<td>$650</td>
														<td><span class="badge badge-pill badge-success">Paid</span></td>
														<td>
															<a href="javascript:void(0)"><i class="icon dripicons-download"></i></a>
														</td>
													</tr>
													<tr>
														<td>440-75433</td>
														<td>06/15/18</td>
														<td>$650</td>
														<td><span class="badge badge-pill badge-danger">Canceled</span></td>
														<td>
															<a href="javascript:void(0)"><i class="icon dripicons-download"></i></a>
														</td>
													</tr>
													<tr>
														<td>440-4575456</td>
														<td>06/14/18</td>
														<td>$650</td>
														<td><span class="badge badge-pill badge-success">Paid</span></td>
														<td>
															<a href="javascript:void(0)"><i class="icon dripicons-download"></i></a>
														</td>
													</tr>
													<tr>
														<td>440-34645</td>
														<td>06/14/18</td>
														<td>$650</td>
														<td><span class="badge badge-pill badge-success">Paid</span></td>
														<td>
															<a href="javascript:void(0)"><i class="icon dripicons-download"></i></a>
														</td>
													</tr>
													<tr>
														<td>440-67867</td>
														<td>06/14/18</td>
														<td>$650</td>
														<td><span class="badge badge-pill badge-success">Paid</span></td>
														<td>
															<a href="javascript:void(0)"><i class="icon dripicons-download"></i></a>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-12 col-xl-5">
								<div class="card">
									<div class="card-header"><span class="m-t-10 d-inline-block">Employee Report</span>
										<ul class="nav nav-pills nav-pills-primary float-right" id="pills-demo-sales" role="tablist">
											<li class="nav-item">
												<a class="nav-link active" id="pills-month-tab" data-toggle="tab" href="#sales-month-tab" role="tab">Month</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" id="pills-year-tab" data-toggle="tab" href="#sales-year-tab" role="tab">Year</a>
											</li>
										</ul>
									</div>
									<div class="card-body p-0">
										<div class="tab-content" id="pills-tabContent-sales">
											<div class="tab-pane fade show active" id="sales-month-tab" role="tabpanel" aria-labelledby="sales-month-tab">
												<table class="table v-align-middle">
													<thead class="bg-light">
														<tr>
															<th class="p-l-20">Name</th>
															<th>Earnings</th>
															<th>Quota</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td><img class="align-self-center mr-3 ml-2 w-50 rounded-circle" src="../assets/img/avatars/27.jpg" alt="">
																<strong class="nowrap">Robert Norris</strong>
															</td>
															<td>$37,000</td>
															<td><span class="badge badge-pill badge-success">Above</span></td>
														</tr>
														<tr>
															<td><img class="align-self-center mr-3 ml-2 w-50 rounded-circle" src="../assets/img/avatars/47.jpg" alt="">
																<strong class="nowrap">Shawna Cohen</strong></td>
																<td>$27,600</td>
																<td><span class="badge badge-pill badge-info">Met</span></td>
															</tr>
															<tr>
																<td><img class="align-self-center mr-3 ml-2 w-50 rounded-circle" src="../assets/img/avatars/24.jpg" alt="">
																	<strong class="nowrap">Darrin Todd</strong></td>
																	<td>$23,200</td>

																	<td><span class="badge badge-pill badge-info">Met</span></td>
																</tr>
																<tr>
																	<td><img class="align-self-center mr-3 ml-2 w-50 rounded-circle" src="../assets/img/avatars/01.jpg" alt="">
																		<strong class="nowrap">Michelle White</strong></td>
																		<td>$19,300</td>

																		<td><span class="badge badge-pill badge-info">Met</span></td>
																	</tr>
																	<tr>
																		<td><img class="align-self-center mr-3 ml-2 w-50 rounded-circle" src="../assets/img/avatars/09.jpg" alt="">
																			<strong class="nowrap">Josh Lynch</strong></td>
																			<td>$18,500</td>
																			<td><span class="badge badge-pill badge-warning">Pending</span></td>
																		</tr>
																		<tr>
																			<td><img class="align-self-center mr-3 ml-2 w-50 rounded-circle" src="../assets/img/avatars/26.jpg" alt="">
																				<strong class="nowrap">Jason Kendall</strong></td>
																				<td>$16,300</td>
																				<td><span class="badge badge-pill badge-warning">Pending</span></td>
																			</tr>
																			<tr>
																				<td><img class="align-self-center mr-3 ml-2 w-50 rounded-circle" src="../assets/img/avatars/11.jpg" alt="">
																					<strong class="nowrap">Aaron	Elliott</strong></td>
																					<td>$8,300</td>
																					<td><span class="badge badge-pill badge-danger">Danger</span></td>
																				</tr>
																				<tr>
																					<td class="border-none"><img class="align-self-center mr-3 ml-2 w-50 rounded-circle" src="../assets/img/avatars/21.jpg" alt="">
																						<strong class="nowrap">Rebecca Harris</strong></td>
																						<td class="border-none">$4,000</td>
																						<td class="border-none"><span class="badge badge-pill badge-danger">Danger</span> </td>
																					</tr>
																				</tbody>
																			</table>
																		</div>
																		<div class="tab-pane fade" id="sales-year-tab" role="tabpanel" aria-labelledby="sales-year-tab">
																			<table class="table v-align-middle">
																				<thead class="bg-light">
																					<tr>
																						<th>Name</th>
																						<th>Earnings</th>
																						<th>Quota</th>
																					</tr>
																				</thead>
																				<tbody>
																					<tr>
																						<td><img class="align-self-center mr-3 ml-2 w-50 rounded-circle" src="../assets/img/avatars/02.jpg" alt="">
																							<strong class="nowrap">Mike Jones </strong>
																						</td>
																						<td>$587,000</td>
																						<td><span class="badge badge-pill badge-success">Above</span></td>
																					</tr>
																					<tr>
																						<td><img class="align-self-center mr-3 ml-2 w-50 rounded-circle" src="../assets/img/avatars/6.jpg" alt="">
																							<strong class="nowrap">Leslie	Chapman</strong></td>
																							<td>$427,600</td>
																							<td><span class="badge badge-pill badge-success">Above</span></td>
																						</tr>
																						<tr>
																							<td><img class="align-self-center mr-3 ml-2 w-50 rounded-circle" src="../assets/img/avatars/7.jpg" alt="">
																								<strong class="nowrap">Taylor Collier</strong></td>
																								<td>$323,200</td>

																								<td><span class="badge badge-pill badge-success">Above</span></td>
																							</tr>
																							<tr>
																								<td><img class="align-self-center mr-3 ml-2 w-50 rounded-circle" src="../assets/img/avatars/35.jpg" alt="">
																									<strong class="nowrap">Dominic Shaw</strong></td>
																									<td>$321,000</td>

																									<td><span class="badge badge-pill badge-info">Met</span></td>
																								</tr>
																								<tr>
																									<td><img class="align-self-center mr-3 ml-2 w-50 rounded-circle" src="../assets/img/avatars/38.jpg" alt="">
																										<strong class="nowrap">Josh Lynch</strong></td>
																										<td>$293,500</td>
																										<td><span class="badge badge-pill badge-warning">Pending</span></td>
																									</tr>

																									<tr>
																										<td><img class="align-self-center mr-3 ml-2 w-50 rounded-circle" src="../assets/img/avatars/30.jpg" alt="">
																											<strong class="nowrap">Angelo	Parker</strong></td>
																											<td>$87,300</td>
																											<td><span class="badge badge-pill badge-danger">Danger</span> </td>
																										</tr>
																									</tbody>
																								</table>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
