<div id="app">
  <%= render 'dashboard/sidebar' %>

  <div class="content-wrapper">
    <%= render 'dashboard/navbar' %>

    <div class="content">
      <%= render 'dashboard/header' %>
    </div>
  </div>
</div>
