<div class="content">
  <section class="page-content container-fluid">
    <%= link_to item_groups_path,class:"btn btn-secondary col-md-1" do %>
      <span>Back</span>
    <% end %></br>

    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <%= render 'item_groups/form' %>
          </div>
        </div>
    </div>
  </section>
</div>
