/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "dashboard/dashboard";

.icon {
  font-size: 22px;
  font-weight: 500;
}

.flex-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.tbl {
  color: #617182;
  font: 14px Poppins, sans-serif;
  padding: 12px 30px 12px 12px;

  th {
    font-weight: 600 !important;
  }
}
